%h2
  Mandatory reading
%ul
  - sitemap.resources.select { |x| x.path.start_with? 'the-law/' }.each do |page|
    %li
      = link_to page.data.title, page

%h2
  Other stuff
%ul
  - sitemap.resources.select { |x| (!x.data.title.nil?() && !x.path.start_with?('the-law/')) }.each do |page|
    %li
      = link_to page.data.title, page

%h2
  Platform is dead
%p
  Due to almost zero interest, the common project hub/platform idea was discontinued. Here's some tools we
  collected that might help you run your OSS project (in no particular order):

%h3
  Continuous Integration
%ul
  %li
    %a{href: 'https://circleci.com/'}= 'Travis CI'
  %li
    %a{href: 'https://semaphoreapp.com/'}= 'Semaphore'
  %li
    %a{href: 'https://circleci.com/'}= 'CircleCI'
  %li
    %a{href: 'https://drone.io/'}= 'drone.io'
  %li
    %a{href: 'http://codebetter.com/codebetter-ci/'}= 'CodeBetter'

%h3
  Code Reviews
%ul
  %li
    %a{href: 'https://reviewable.io/'}= 'Reviewable'
  %li
    %a{href: 'https://gerrithub.io'}= 'GerritHub'

%h3
  Communication
%ul
  %li
    %a{href: 'https://gitter.im/'}= 'Gitter'
